<table class="table table-hover table-bordered"  BORDER='2' style="table-layout:fixed;width:100%;" >
    <thead>
        <tr class="active">
            <th>タイトル</th>
            <th>メモ</th>
            <th>教材状況</th>
            <th colspan="1"></th>
        </tr>
    </thead>
    <tbody>
        <% @textbooks.each do |textbook| %>
            <tr>
                <td><%= textbook.title %></td>
                <td><%= textbook.note %></td>
                <td><%= textbook.status %></td>
                <td>
                    <strong><%= link_to '詳細', textbook_path(textbook.id) %></strong>
                    <span class="badge badge-info text-wrap">
                        <%= textbook.tag.name %>
                    </span>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<%
=begin
%>

<% @textbooks.each do |textbook| %>
    <div class="col-md-4">
        <div class="disp-area">
            <%= link_to(textbook_path(textbook.id)) do %>
                <div id="smallArea">
                    <span><%= textbook.title %></span>
                </div>
                <div id="largeArea">
                    <span><%= textbook.note %></span>
                </div>
            <% end %>
            <div id="underArea">
                <%= textbook.status %>
                <span class="badge badge-info text-wrap">
                    <%= textbook.tag.name %>
                </span>
            </div>
        </div>
    </div>

<% end %>
<%
=end
%>

