<div class="container">
	<div class="row">
			<%= render 'users/template', user: @user%>
	</div>

	<div class="row">
		<div class="col-xs-2">
			<%= link_to "+", new_textbook_path, class: " btn btn-default", style: "border-radius: 100%" %>	
		</div>
		<div class="col-xs-9">
				<h2>教材一覧</h2>
		</div>
	</div>

	<div class="row">
		<table class="table"  BORDER='2' style="table-layout:fixed;width:100%;" >
			<thead>
				<tr class="active">
					<th>タイトル</th>
					<th>メモ</th>
					<th>ステータス</th>
				</tr>
			</thead>
			<tbody>
			<% @textbooks.each do |textbook| %>
				<tr>
					<td><%= link_to textbook.title, textbook_path(textbook.id) %></td>
					<td><%= link_to textbook.note, textbook_path(textbook.id) %></td>
					<td><%= textbook.status %></td>
				</tr>
			<% end %>
			</tbody>
		</table>
    </div>
</div>
