<!-- 教材 詳細 -->
<div class="container">
	<!-- 教材詳細表示 -->
	<div class="row">
		<h1><%=	@textbook.title %></h1>
	</div>

	<div class="field row">
		<%= @textbook.note %>
	</div>

	<div class="field row">
		<%= @textbook.status %>
	</div>

	<div class="row">
		<span class="badge badge-info text-wrap">		
			<%= @textbook.tag.name %>
		</span>
	</div>

	<!-- 編集、消去ボタン -->
	<div class="row">
		<div class="col-md-2">
			<%= link_to "編集", edit_textbook_path %> |	<%= link_to '削除', @user, method: :delete, data: { confirm: '本当に消しますか？' } %>
		</div>
	</div>
</div>
