<div class="jumbotron">
	<div class="container">
		<%# 教材詳細表示 %>
		<div class="row">
			<div class="col-md-6 col-md-offset-0">
				<h1>教材詳細</h1>
			</div>
		</div>
		<div class="field row">
			<%=	@textbook.title %>
		</div>
		<div class="field row">
			<%= @textbook.note %>
		</div>
		<div class="field row">
			<%= @textbook.status %>
		</div>
		<div class="field row">
			<%= @textbook.tag.name %>
		</div>
		<%# 編集、消去ボタン %>
		<div class="row">
			<div class="col-md-2">
				<%= link_to "編集", edit_textbook_path %> |	<%= link_to '削除', @user, method: :delete, data: { confirm: '本当に消しますか？' } %>
			</div>
		</div>
	</div>
</div>