<h2>新規会員登録</h2>
<div class="form-horizontal" role="form">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    
    <%# 名前(姓、名)の入力フォーム %>
    <div class="row">
      <div class="form-group">
        <div class="col-xs-3">
          <span><b>名前</b></span>
        </div>

        <div class="col-xs-4">
          <%= f.text_field :last_name, autofocus: true, placeholder: "姓" %>
        </div>

        <div class="col-xs-4">
          <%= f.text_field :first_name, placeholder: "名" %>
        </div>
      </div>
    </div>

    <%# フリガナ(セイ、メイ)の入力フォーム %>
    <div class="row">
      <div class="form-group">
        <div class="col-xs-3">
          <span><b>フリガナ</b></span>
        </div>

        <div class="col-xs-4">
          <%= f.text_field :kana_last_name, autofocus: true, placeholder: "セイ" %>
        </div>

        <div class="col-xs-4">
          <%= f.text_field :kana_first_name, placeholder: "メイ" %>
        </div>
      </div>
    </div>

    <%# メールアドレスの入力フォーム %>
    <div class="row">
      <div class="form-group">
        <div class="col-xs-3">
          <%= f.label :email, "メールアドレス" %>
        </div>

        <div class="col-xs-4">
          <%= f.email_field :email, placeholder: "(例)sample@example.com" %>
        </div>
      </div>
    </div>

    <%# パスワードの入力フォーム %>
    <div class="row">
      <div class="form-group">
        <div class="col-xs-3">
          <%= f.label :password, "パスワード(6文字以上)" %>
        </div>

        <div class="col-xs-4">
          <%= f.password_field :password, placeholder: "パスワード" %>
        </div>
      </div>
    </div>

    <%# パスワード(確認用)の入力フォーム %>
    <div class="row">
      <div class="form-group">
        <div class="col-xs-3">
          <%= f.label :password_confirmation, "パスワード(確認用)" %>
        </div>

        <div class="col-xs-4">
          <%= f.password_field :password_confirmation, placeholder: "パスワード確認用" %>
        </div>
      </div>
    <br>
    </div>

    <%# 「新規登録」ボタン %>
    <div class="row">
      <div class="col-xs-4 col-xs-offset-5">
        <div class="actions">
          <%= f.submit "Sign up", value: "新規登録", class: "btn btn-success btn-block" %>
        </div>
      </div>
    </div>
  <% end %>
<br>
</div>

<div class="row">
  <div class="text-left">
    <p style="font-size: 15px">
      登録がお済みの方は
    </p>
  </div>

  <div class="text-left">
    <%= link_to "こちら", user_session_path %>からログインを行なってください。
  </div>
  <br>
  <br>
</div>