<%# <div style="background:#fff;border:1px solid #3D58A8;padding:5px;color:#000;">   %>
<%# <div style="border:1px solid #3D58A8;padding:10px;"> %>
<div>
  <%= attachment_image_tag @user, :image, format: 'jpg', fallback: "no-image.gif", size:'100', class: "UserIcon-image" %>
  <%= @user.last_name %>
  <%= @user.first_name %> 
  <%#= @user.email %>
</div>

<div>
  <strong >Lv.<%= @user.level %></strong> 
  　次のレベルまで残り　<%= @user_experience %>時間
</div>