<div>
  <%= attachment_image_tag @user, :image, format: 'jpg', fallback: "no-image.gif", size:'100', class: "UserIcon-image" %>
  <%= @user.last_name %>
  <%= @user.first_name %> 
</div>

<div>
  <strong >ランク.<%= @user.level %></strong> 
  　次のランクまで　<%= @user_experience %>時間　の学習が必要です
</div>
