
	<h1>ユーザーサイドバー</h1>

  <div class="field row">
    <%= attachment_image_tag @user, :image, format: 'jpg', fallback: "no-image.gif", size:'250x250' %>
    <%= f.attachment_field :image, direct: true %>
  </div>

  <div class="field row">
    <%= @user.last_name %>  <%= @user.first_name %> 
  </div>

  <div class="field row">
    <%= @user.kana_last_name %>  <%= @user.kana_first_name %>  
  </div>

  <div class="field row">
    <%= @user.email %>
  </div>
