<div class="jumbotron">
	<div class="container">

			<div class="row">
				<div class="col-xs-6 col-xs-offset-0">
					<h2>ユーザー編集</h2>
				</div>
			</div>

<%= form_for(@user) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>

  <div class="field row">
    <%= attachment_image_tag @user, :image, format: 'jpg', fallback: "no-image.gif", size:'250x250' %>
    <%= f.attachment_field :image, direct: true %>
  </div>

  <div class="field row">
    <%= f.label :email, 'メールアドレス' %>
    <%= f.text_field :email, class: 'col-xs-12 user_email' %>
  </div>

  <div class="field row">
    <%= f.label :last_name, '名字' %>
    <%= f.text_area :last_name, class: 'col-xs-12 user_last_name'%>
  </div>

  <div class="field row">
    <%= f.label :first_name, '名前' %>
    <%= f.text_area :first_name, class: 'col-xs-12 user_first_name'%>
  </div>

  <div class="field row">
    <%= f.label :kana_last_name, 'ミョウジ' %>
    <%= f.text_area :kana_last_name, class: 'col-xs-12 user_kana_last_name' %>
  </div>

  <div class="field row">
    <%= f.label :kana_first_name, 'ナマエ' %>
    <%= f.text_area :kana_first_name, class: 'col-xs-12 user_kana_first_name' %>
  </div>

  <div class="actions row">
    <%= f.submit class: 'btn btn-primary col-xs-12'%>
  </div>

<% end %>

				<div class="row">
					<div class="col-xs-3">
						<%= link_to '退会する', @user, method: :delete, data: { confirm: '本当に消しますか？' }, class: " btn btn-default"%>
					</div>
				</div>

	</div>
</div>
