<div class="jumbotron">
	<div class="container">

			<div class="row">
				<div class="col-xs-6 col-xs-offset-0">
					<h1>ユーザー詳細</h1>
				</div>
			</div>


  <div class="field row">
<%#= f.attachment_field :image %>
  </div>

  <div class="field row">
    <%= @user.last_name %>  <%= @user.first_name %> 
  </div>

  <div class="field row">
    <%= @user.kana_last_name %>  <%= @user.kana_first_name %>  
  </div>

  <div class="field row">
    <%= @user.email %>
  </div>

				<div class="row">
					<div class="col-xs-1">
						<%= link_to "edit", edit_user_path, class: " btn btn-default", style: "border-radius: 100%" %>	
					</div>
				</div>

<%# <%= link_to 'Destroy', @user, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn-sm btn-danger destroy_user_#{@user.id}"%> %>

	</div>
</div>