<!-- ユーザー詳細 -->
<div class="container">
	<div class="row">
		<div class="col-md-6 col-xs-offset-0">
			<h2>ユーザー詳細</h2>
		</div>
	</div>

	<div class="field row">
		<%= attachment_image_tag @user, :image, fallback: "no-image.gif", size:'250', class: "UserIcon-image " %>
	</div>

	<!-- 情報表示 -->
	<div class="row">
		<div class="table-responsive">
			<table class="table text-nowrap">
				<tbody>
					<tr>
						<td>メールアドレス</td>
						<td> <%= @user.email %> </td>
					</tr>
					<tr>
						<td>姓　名</td>
						<td> <%= @user.last_name %> <%= @user.first_name %> </td>
					</tr>
					<tr>
						<td>セイ　メイ</td>
						<td> <%= @user.kana_last_name %> <%= @user.kana_first_name %> </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- 編集ボタン -->
	<div class="row">
		<div class="col-md-12">
			<%= link_to '編集', edit_user_path %> | <%= link_to '戻る', events_path %>
			<br>
		</div>
	</div>
</div>
