<div class="container">

	<div class="row">
		<div class="col-xs-12">
			<%= render 'users/template', user: @user%>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			<h3>今日の記録件数　　　今日の学習時間</h3>
			<h3><%= link_to @study_time.count, study_times_path(current_user.id) %> 件 </h3>
		</div>
	</div>

	
			<%= link_to "カレンダー", events_path(current_user.id), class: " btn btn-default", style: "border-radius: 100%" %>	
	<div class="row">
		<div class="col-xs-12">
			<%= link_to "勉強時間追加", new_study_time_path(current_user.id), class: " btn btn-default", style: "border-radius: 100%" %>	
			<%= link_to "時間履歴", study_times_path(current_user.id), class: " btn btn-default", style: "border-radius: 100%" %>	
		</div>
	</div>

	<div class="row">
		<div id="calendar"></div>
	</div>

</div>
