<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<%= render 'users/template', user: @user%>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-1 col-xs-offset-0">
			<%= link_to "+", new_study_time_path(current_user.id), class: " btn btn-default", style: "border-radius: 100%" %>	
		</div>
		<div class="col-xs-9">
			<table class="table table-hover table-resposive">
				<thead>
					<tr class="active">
						<th>教科</th>
						<th>学習時間</th>
						<th>科目名</th>
						<th>コメント</th>
					</tr>
				</thead>
				<tbody>
					<% @study_times.each do |study_time| %>
							<tr>
						<td>
							<%= study_time.day %>
						</td>
						<td>
							<%= link_to study_time.time, study_time_path(study_time.id) %>
						</td>
						<td>
							<%= link_to study_time.genre, study_time_path(study_time.id) %>
						</td>
						<td>
							<%= study_time.comment %>
						</td>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div id="calendar"></div>
	</div>

</div>
