<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= render 'users/template', user: @user%>
    </div>
  </div>
<br>
  <div class="row">
    <div class="col-xs-12">
      <table class="table"  BORDER='2' style="table-layout:fixed;width:100%;" >
        <tbody>
          <tr class="active">
            <td class="active text-center">
              <%= link_to study_times_path(current_user.id) do %>
                <h3><strong>
                  今日 <%= @total_study_time0 %> h
                </strong></h3>
              <% end %>  
            </td>
            <td class="active text-center">
              <%= link_to study_times_path(current_user.id) do %>
                <h3><strong>
                  今週 <%= @week_study_time %>  h
                </strong></h3>
              <% end %>  
            </td>
            <td class="active text-center">
              <%= link_to study_times_path(current_user.id) do %>
                <h3><strong>
                  累計 <%= @all_study_time %> h
                </strong></h3>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <%= link_to "記録", new_study_time_path(current_user.id), class:"btn btn-success form-control" %>	
    </div>

    <div class="col-xs-12">
        <canvas id="myChart"></canvas> 
        <script>draw_graph();</script> 
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-12">
        <div id="calendar" ></div>
    </div>
    <br>

    <div class="col-xs-12">
      <%= link_to '新しい予定', new_event_path, class:"btn btn-success form-control" %>	
    </div>

    <div class="col-xs-12">
      <table>
        <thead>
          <tr>
            <th>タイトル</th>
            <th>内容</th>
            <th>開始時間</th>
            <th>終了時間</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @events.each do |event| %>
            <tr>
              <td><%= event.title %></td>
              <td><%= event.description %></td>
              <td><%= event.start_date %></td>
              <td><%= event.end_date %></td>
              <td><%= link_to '詳細', event %></td>
              <td><%= link_to '編集', edit_event_path(event) %></td>
              <td><%= link_to '消去', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
