<!-- 勉強時間 フォーム 登録 編集 -->
<%= form_for(@study_time) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>

  <div class="field row">
    <%= f.number_field :time, class: 'btn btn-default', min: 1, max:24, step:1, value:1%>
    <%= f.label :time, "時間" %>
  </div>
  
  <div class="field row">
    <%= f.label :comment, "内容" %>
    <%= f.text_area :comment, class: 'col-xs-12 comment' %>
  </div>

  <div class="actions row">
    <%= f.submit class: 'btn btn-primary col-xs-12'%>
  </div>
<% end %>
