<!DOCTYPE html>
<html>
  <head>
    <title>STUDY-SUPPORT</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%#= favicon_link_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<!--header-->
    <header id="header" class="navbar navbar-light bg-light">
      <div class="container">
      <div class="row">
          <div class="col-xs-12">
        <nav class="nav navbar-light navbar-left">
          <h1>
            <a href="/" style="color:white;">STUDY-SUPPORT</a>
          </h1>
        </nav><br>

        <nav class="clearfix">
          <ul class="nav nav-pills navbar-light navbar-right">
            <%# ログインしている場合 %>
            <% if user_signed_in? %>
                  <%= link_to "　メインページ　", top_users_path, :style=>"color:#DCDCDC;" %>
                  <%= link_to "　本棚　", textbooks_path, :style=>"color:#DCDCDC;" %>
                  <%= link_to "　マイページ　", user_path(current_user.id), :style=>"color:#DCDCDC;" %>
                  <%= link_to "　ログアウト　", destroy_user_session_path, method: :delete, :style=>"color:#DCDCDC;" %>
            <%# ログインしていない場合 %>
            <% else %>
                  <%= link_to "　新規登録　", new_user_registration_path, :style=>"color:#DCDCDC;" %>
                  <%= link_to "　ログイン　", new_user_session_path, :style=>"color:#DCDCDC;" %>
            <% end %>
          </ul>
        </nav>
      </div>
      </div>
        <div class="row">
          <div class="col-xs-12">
            <% flash.each do |key, value| %>
              <% key = "info" if key == "notice" %>
              <% key = "danger" if key == "alert" %>
              <%= content_tag :div, value, class: "alert alert-#{key}" %>
            <% end %>
          </div>
        </div>
      </div>
    </header>
<!-- /header -->


    <%= yield %>
  </body>

</html>
