<!DOCTYPE html>
<html>
  <head>
    <title>STUDY-SUPPORT</title>
    <%= favicon_link_tag('favicon.png') %>
    <%# <meta name="viewport" content="width=device-width, initial-scale=1.0"> %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- gem gon chart.jsで使用 -->
    <%= Gon::Base.render_data %>
    <!-- Bootstrap CSS読み込みコード -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Bootstrap JavaScript読み込みコード -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="hwrapper">
      <div class="header">
        <%= link_to(root_path) do %>
          <%= image_tag 'header.png', width: 100, height: 70 %>
        <% end %>
        
        <nav class="headerNavigation">
          <ul>
            <!-- ログインしている場合 -->
            <% if user_signed_in? %>
              <li><strong><%= link_to "　トップページ　", root_path %></strong></li>
              <li><strong><%= link_to "　ログアウト　", destroy_user_session_path, method: :delete%></strong></li>
            <!-- ログインしていない場合 -->
            <% else %>
              <li><strong><%= link_to "　トップページ　", root_path %></strong></li>
              <li><strong><%= link_to "　新規登録　", new_user_registration_path %></strong></li>
              <li><strong><%= link_to "　ログイン　", new_user_session_path%></strong></li>
            <% end %>
          </ul>
        </nav>
      </div>

      <div class="glovalNavigation">
        <div class="row">
          <div class="col-md-12">
            <!-- ログインしている場合 -->
            <% if user_signed_in? %>
              <strong><%= link_to "　　本棚　　", textbooks_path%></strong>
              <strong><%= link_to "　　メインページ　　", events_path%></strong>
              <strong><%= link_to "　　マイページ　　", user_path(current_user.id) %></strong>
            <!-- ログインしていない場合 -->
            <% else %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="contant">
      <%= yield %>
    </div>

    <div class="fwrapper">
      <div class="footer">
        当サイトは学習教材・時間・日程を管理を補助するサイトです。
      </div>
      <div class="copyright">
        ALL Right Reserved.
      </div>
    </div>
  </body>
</html>


<%
=begin
%>
  <body>
    <div class="container">
      <header class="header">
        <%= image_tag 'header.png', width: 100, height: 70 %>
        <nav class="headerNavigation">
          <ul>
            <%# ログインしている場合 %>
            <% if user_signed_in? %>
            <li><strong><%= link_to "　トップページ　", root_path %></strong></li>
            <li><strong><%= link_to "　ログアウト　", destroy_user_session_path, method: :delete%></strong></li>
            <%# ログインしていない場合 %>
            <% else %>
              <li><%= link_to "　トップページ　", root_path %></li>
              <li><%= link_to "　新規登録　", new_user_registration_path %></li>
              <li><%= link_to "　ログイン　", new_user_session_path%></li>
            <% end %>
          </ul>
        </nav>
      </header>
      <div class="glovalNavigation">
        <div class="row">
          <div class="col-md-12">
            <%# ログインしている場合 %>
            <% if user_signed_in? %>
              <strong><%= link_to "　　本棚　　", textbooks_path%></strong>
              <strong><%= link_to "　　メインページ　　", events_path%></strong>
              <strong><%= link_to "　　マイページ　　", user_path(current_user.id) %></strong>
            <%# ログインしていない場合 %>
            <% else %>
            <% end %>    
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <% flash.each do |key, value| %>
              <% key = "info" if key == "notice" %>
              <% key = "danger" if key == "alert" %>
              <%= content_tag :div, value, class: "alert alert-#{key}" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="content">
        <%= yield %>
      </div>s
  </body>
<%
=end
%>
